{{#each this}}
    <tr>
        <th>
          <div class="table__thumb table__thumb--name">
            <div class="table__icon" data-category="{{category}}">
            </div>
            <div class="table__text">{{name}}</div>
          </div>
        </th>
        <th>
          <div class="table__thumb table__thumb--created">{{created}}</div>
        </th>
        <th>
          <div class="table__thumb table__thumb--category">{{category}}</div>
        </th>
        <th>
          <div class="table__thumb table__thumb--content">{{content}}</div>
        </th>
        <th>
          <div class="table__thumb table__thumb--dates">{{#if dates}} {{dates.[0]}}, {{dates.[1]}} {{/if}}</div>
        </th>
        <th>
          <div id="note-ctrl-btns"  class="table__thumb table__thumb--buttons" data-id={{id}}>
            <button type="button" class="table__button" name="edit">
            </button>
            <button type="button" class="table__button" name="to-archive">
            </button>
            <button type="button" class="table__button" name="remove">
            </button>
          </div>
        </th>
      </tr>
{{/each}}